# The version of circle ci platform to use
version: 2.1

# Collection of jobs to execute
jobs:
  # Name of the build job. Feel free to choose a descriptive name
  build:
    # Define some environment variables. Note: API tokens, server keys, etc should not be defined here
    environment:
      NODE_ENV: 'test'
    # (Optional) Define directory in which to run the steps. Circle CI defaults it to ~/project if omitted
    working_directory: ~/guidebook
    # Specify the execution environment. Circle CI allows you to run jobs in one of 3 environments - docker, a linux virtual machine or a macOS virtual machine
    docker:
      # Primary container where the job's commands are run
      - image: circleci/node:latest
      # Any additional containers are started in the same network and are able to communicate with the primary container
      # - image: circleci/mongo:latest
    # Steps allow you to define a set of executable commands
    steps:
      # Reserved word in Circle CI for checking out your code repository
      - checkout

      # If a cache entry with this key exists, add it to the working directory
      - restore_cache:
          key: v1-dependencies-{{ checksum "package.json" }}

      # Execute a command. The simple for is `run: npm install --verbose`
      - run:
          # Name attribute provides useful organization information when returning errors, warnings or output
          name: Install server dependencies
          # The command to execute.
          command: npm run setup:server --verbose

      # Execute a command. The simple for is `run: npm install --verbose`
      - run:
          # Name attribute provides useful organization information when returning errors, warnings or output
          name: Install client dependencies
          # The command to execute.
          command: npm run setup:client --verbose

      # Execute the client build command
      - run:
          # Name attribute provides useful organization information when returning errors, warnings or output
          name: Build client
          # The command to execute.
          command: npm run build:client --verbose

      # Persist some data to cache which can be used in subsequent builds.
      # For guidebook, node_modules is cached. This makes subsequent build runs faster if package.json is unchanged
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json"}}
          paths:
            - server/node_modules
            - client/node_modules

      - run:
          name: Run server tests
          # When running Jest tests, please use the --runInBand flag: https://circleci.com/docs/2.0/collect-test-data/#jest
          command: npm run test:server -- --runInBand --forceExit

      - run:
          name: Run client tests
          # When running Jest tests, please use the --runInBand flag: https://circleci.com/docs/2.0/collect-test-data/#jest
          command: npm run test:client -- --runInBand --forceExit

